<style>
  body {
    padding: 20px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .body {
  	text-align: justify;
  	font-weight: 100;
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .closing {
  	text-align: justify;
  	font-weight: 100;
    font-size: 18px;
  }
  
  .recovery-link {
  	text-align: center;
    margin-bottom: 40px;
  }
  
  .recovery-link a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgb(0, 110, 59);
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 15px 8px 15px;
    
  }

  .recovery-link a:hover {
    background-color: rgb(0, 175, 93);;
  }
</style>
<body>
  <div class="body">
    <p>Hola {{user}},</p>
    <p>has iniciado el proceso de recuperaci칩n de contrase침a. S칩lo tienes 10 minutos para poder completarlo. En caso contrario, tendr치s que iniciar el proceso nuevamente.<p>
  </div>
  <div class="recovery-link">
    <a href={{link}}>Recuperar</a>
  </div>
  <div class="closing">
    <p>Saludos!</p>
    <p>No es necesario responder a este correo.</p>
  </div>
</body>
