<body>
  <h1 style="text-align:center;">Recuperacion de Contraseña<h1>
  <p style="text-align:center; font-size:18px;">has iniciado el proceso de recuperación de contraseña. Encontrarás un enlace al final para iniciar el proceso de recuperación de contraseña. Recuerda: sólo tienes 10 minutos para completar el proceso. Si no logras completarlo, no te preocupes. Puedes iniciar el proceso nuevamente.<p>
  <a style="text-align:center; text-decoration:none; color:white; font-size:20px; background-color: green; font-weight: bold; border-radius: 8px; padding: 5px 10px 5px 10px;" href={{link}}>Recuperar</a>
</body>