<style>
  body {
    padding: 20px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }
</style>
<body>
  <h1>Bienvenido, {{user}}</h1>
  <p>Gracias por registarse en nuestro sitio. Este correo es</p>
</body>